<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Studious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050A416F1E13CC0900EE0B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050A41851E13CC0A00EE0B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050A41901E13CC0A00EE0B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
